@model App.Web.Models.AbonoModel

@using (Html.BeginForm("Edit", "Abono", FormMethod.Post, new { id = "formValidate" }))
{
    @Html.Hidden("Id", Model.Id)
    <center>
        <h2>Editar Abono</h2>
    </center>
    <hr style="background-color: #5e35b1; height: 2px">
    @Html.Partial("_CreateOrEdit")


}
