<script type="text/javascript">
    function confirmDelete(Id, Name, Option, Accion, Mensaje) {
        debugger
        if (Id == "") {
            Id = $('#table-sortable-server').bootstrapTable('getSelections')[0].Id;
        }

        $("#confirm").modal("show");

        if (Accion != undefined && Accion != "") {
            $("#AccionDelete").html(Accion);
        }
        if (Mensaje != undefined && Mensaje != "") {
            $("#MensajeDelete").html(Mensaje);
        }

        $(".modal-body").val(Id);
        var removeBtn = $('#btnYes');
        removeBtn.attr('href', Option + 'Delete/' + Id);

        $("#name").text(Name);
    }
</script>

<div class="modal modal-primary fade scale in" id="confirm" tabindex="-1" role="document" aria-labelledby="modal-default-primary" aria-hidden="true">
    <div class="modal-dialog modal-default" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #4527a0; color: white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white">×</span>
                </button>
                <h3 class="modal-title" id="modal-default-damodal-default-primary-label">Eliminar</h3>
            </div>
            <div class="modal-body">
                <p style="color: black">
                    Está seguro/a de que desea eliminar ?
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-raised btn-success btn-flat" id="btnYes">Sí</a>
                <a class="btn btn-raised btn-danger btn-flat" data-dismiss="modal">No</a>

            </div>
        </div>

    </div>
</div>

