<!DOCTYPE html>
<html lang="es">
<head>
  
    <!-- Material Design fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
     <link href="~/Content/Imprimir/css/bootstrap-material-design.css" rel="stylesheet" />
    <link href="~/Content/Imprimir/css/ripples.min.css" rel="stylesheet" />
</head>

<body style="background-color: white;">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/Content/assets/js/material-kit.js"></script>
<script src="~/Content/Imprimir/js/material.min.js"></script>  
    <script src="~/Content/Imprimir/js/ripples.js"></script>
<script src="~/Content/Imprimir/js/ripples.min.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Content/Imprimir/js/material.js"></script>

<div class="container" style="background-color: white;">
    @RenderBody()
</div>

</body>

</html>
