<!DOCTYPE html>
<html lang="en" ng-app="login">

<!--================================================================================
    Item Name: Materialize - Material Design Admin Template
    Version: 1.0
    Author: GeeksLabs
    Author URL: http://www.themeforest.net/user/geekslabs
================================================================================ -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>Login Page | Materialize - Material Design Admin Template</title>
    @*<!-- Favicons-->
        <!-- Favicons-->*@
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="~/Content/login/materialize.css" rel="stylesheet" />
    <link href="~/Content/login/style.css" rel="stylesheet" />
    <link href="~/Content/login/page-center.css" rel="stylesheet" />
    <link href="~/Content/login/prism.css" rel="stylesheet" />
    <link href="~/Content/login/IconsLogin.css" rel="stylesheet" />
    <link href="~/Content/bower_components/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Content/css/Select2.css" rel="stylesheet" />

    <style>
        .text-danger{
            color:red;
        }
    </style>

</head>
<body style="background-color: #0d47a1">
    <script src="~/Content/jquery-3.1.1.js"></script>

    <div class="row">
        <div id="app">
            @Html.Partial("_Notifications");
            @RenderBody()
        </div>
    </div>

    <!-- ================================================
      Scripts
      ================================================ -->
    <!-- jQuery Library -->

    <script src="~/Content/login/materialize.js"></script>
    <script src="~/Content/login/plugins.js"></script>
    <script src="~/Content/login/prism.js"></script>
    <script src="~/Content/bower_components/toastr/toastr.min.js"></script>
    <script src="~/Content/scripts/Select2.js"></script>
</body>
</html>
