<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Gimnasio</title>
    <meta name="keywords" content="HTML5,CSS3,Template" />
    <meta name="description" content="" />
    <meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <!-- WEB FONTS : use %7C instead of | (pipe) -->
    <link href="~/Content/css/bootstrap/scss/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/login/css/style.css" rel="stylesheet" />
</head>

<body background="/Content/Img/IdexGym.jpg">
    <script src="~/Content/jquery-3.1.1.js"></script>
    <div id="wrapper">
        @RenderBody()
    </div>

    <script src="~/Scripts/js/blockUI/jquery.blockUI.js"></script>

    <script>
        function Bloquear() {
            $.blockUI(
                {
                    css: { backgroundColor: 'transparent', border: 'none' },
                    message: '<h1><i style="color: white" class="green fa fa-spinner fa-spin fa-2x"></i></h1><h4 style="color:white">Aguarde unos segundos...</h4>'
                });
        }

        function Desbloquear() {
            $.unblockUI();
        }

    </script>

    @RenderSection("scripts", false)
</body>
</html>