@using App.Web.Controllers
<link href="~/Content/bower_components/toastr/toastr.css" rel="stylesheet" />
<script src="~/Content/bower_components/toastr/toastr.min.js"></script>
@{
    //success messages
    var successMessages = new List<string>();
    if (TempData[string.Format("ap.notifications.{0}", BaseController.NotifyType.Success)] != null)
    {
        successMessages.AddRange(TempData[string.Format("ap.notifications.{0}", BaseController.NotifyType.Success)] as IList<string>);
    }
    if (ViewData[string.Format("ap.notifications.{0}", BaseController.NotifyType.Success)] != null)
    {
        successMessages.AddRange(ViewData[string.Format("ap.notifications.{0}", BaseController.NotifyType.Success)] as IList<string>);
    }


    //error messages
    var errorMessages = new List<string>();
    if (TempData[string.Format("ap.notifications.{0}", BaseController.NotifyType.Error)] != null)
    {
        errorMessages.AddRange(TempData[string.Format("ap.notifications.{0}", BaseController.NotifyType.Error)] as IList<string>);
    }
    if (ViewData[string.Format("ap.notifications.{0}", BaseController.NotifyType.Error)] != null)
    {
        errorMessages.AddRange(ViewData[string.Format("ap.notifications.{0}", BaseController.NotifyType.Error)] as IList<string>);
    }

    ////extra messages
    //var extraMessages = new List<string>();
    //if (TempData[string.Format("ap.notifications.{0}", NotifyType.Extra)] != null)
    //{
    //    extraMessages.AddRange(TempData[string.Format("ap.notifications.{0}", NotifyType.Extra)] as IList<string>);
    //}
    //if (ViewData[string.Format("ap.notifications.{0}", NotifyType.Extra)] != null)
    //{
    //    extraMessages.AddRange(ViewData[string.Format("ap.notifications.{0}", NotifyType.Extra)] as IList<string>);
    //}
}

@foreach (var message in successMessages)
{
    <div id="successMessages">@message</div>
}

@foreach (var message in errorMessages)
{
    <div id="errorMessages">@message</div>
}


<script type="text/javascript">

    function NotificationSuccess(message, title, css) {

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr["success"](message, "Notificación:");

        return false;
    }

    function NotificationError(message, title, css) {

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        toastr["error"](message, "Notificación:");

        return false;
    }

    $(document).ready(function () {
        $("#successMessages").each(function () {
            var array = $(this).html().split("~");
            NotificationSuccess(array[0], array[1], array[2]);
        });
        $("#successMessages").remove();

        $("#errorMessages").each(function () {
            var array = $(this).html().split("~");
            NotificationError(array[0], array[1], array[2]);
        });
        $("#errorMessages").remove();
    });
</script>

