@model App.Web.Models.AbonoPorClienteModel

@using (Html.BeginForm("Create", "AbonoPorCliente", FormMethod.Post, new { id = "formValidate" }))
{
    <div class="col s12 m12 l6">
        <div class="card-panel" style="margin:0px!important">
            <h4 class="header2 center-align">Renovar Abono</h4>
            <div class="divider deep-purple lighten-2"></div>

            @Html.Partial("_CreateOrEdit")
        </div>
    </div>
}