<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GymEntities" connectionString="metadata=res://*/GymDB.csdl|res://*/GymDB.ssdl|res://*/GymDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;initial catalog=db_a3576a_gym;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>