<center>
    <h2>Turnos</h2>
</center>
<hr style="background-color:#7e57c2; height:2px">

<div class="row" style="padding-top:2%">
    <div class="col-lg-12 col-md-12">

        <table id="table-sortable-server" data-url="@Url.Action("Table","Turno")">
            <thead>
                <tr>
                    <th data-field="state" data-checkbox="true">#</th>
                    <th data-field="Dia" data-align="center">
                        Día
                    </th>
                    <th data-field="HoraInicial" data-align="center">
                        Inicio
                    </th>
                    <th data-field="HoraFinal" data-align="center">
                        Fin
                    </th>
                    <th data-field="Cliente" data-align="center">
                        Cliente
                    </th>
                    <th data-field="Abono" data-align="center">
                        Abono
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>


