@model App.Web.Models.TurnoPorClienteModel
@using (Html.BeginForm("Create", "Turno", FormMethod.Post, new { id = "formValidate" }))
{
    <center>
        <h2>Asignar Turnos</h2>
    </center>
    <hr style="background-color: #5e35b1; height: 2px">
    @Html.Partial("_TurnoPorCliente")
}

