@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-content center-align green white-text">
                <p class="card-stats-title"><i class="mdi-social-group-add"></i> Clientes</p>
                <h4 class="card-stats-number">566</h4>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-content center-align purple white-text">
                <p class="card-stats-title"><i class="mdi-editor-attach-money"></i>Abonos Activos</p>
                <h4 class="card-stats-number">200</h4>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-content center-align red white-text">
                <p class="card-stats-title"><i class="mdi-editor-attach-money"></i>Abonos no Pagos</p>
                <h4 class="card-stats-number">5</h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <script src="~/Content/js/Proyecto/Cliente.js"></script>

    <div class="col s12 m12 l12" id="listClient">
        <div class="card-panel">
            <h4 class="header2 center-align">Clientes</h4>
            <div class="divider deep-purple lighten-2"></div>
            <div class="row" style="padding:30px">
                <div class="col s12 m12 l12">
                    <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Nacimiento</th>
                                <th>D.N.I.</th>
                                <th>Teléfono</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody id="tblCliente">
                        </tbody>
                    </table>
                    <div class="right" style="padding-top:40px">
                        <a onclick="NuevoCliente()" class="btn waves-effect waves-light deep-purple darken-2" name="action">Nuevo</a>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>

<script>
    $(document).ready(function () {
        ListaCliente();
    });
</script>