@model App.Web.Models.FichaModel
<script src="~/Scripts/Proyecto/FichaCliente.js"></script>

<form id="formFicha">

    @Html.Hidden("ClienteId", Model.ClienteId)
    @Html.Hidden("Id", Model.Id)
    <center>
        <h2>Ficha de <span class="deep-purple-text">@Model.NombreCompleto</span></h2>
    </center>
    <hr style="background-color: #5e35b1; height: 2px">
    @Html.Partial("_CreateOrEdit")
</form>
