@{
    Layout = null;
}

<div class="col s12 m12 l6">
    <div class="card-panel" style="margin:0px!important">
        <h4 class="header2 center-align">Modificar Cliente</h4>
        <div class="divider deep-purple lighten-2"></div>

        @Html.Partial("../Cliente/_CreateOrEdit")

    </div>
</div>


