@{
    Layout = null;
}
@*medico de cabecera*@
<div class="row" style="padding:30px">
    <form class="formValidate" id="formValidate" method="get" action="">
        <div class="row">
            <div class="input-field col s12 m5">
                <label id="lnombre" for="nombre">Cliente</label>
                <input id="nombre" name="nombre" type="text" data-error=".errorTxt1">
                <div class="errorTxt1"></div>
            </div>
            <div class="input-field col s12 m5">
                <label id="lnombre" for="nombre">Fecha Nacimiento</label>
                <input id="nombre" name="nombre" type="text" data-error=".errorTxt1">
                <div class="errorTxt1"></div>
            </div>
            <div class="input-field col s12 m2">
                <label id="lnombre" for="nombre">Edad</label>
                <input id="nombre" name="nombre" type="text" data-error=".errorTxt1">
                <div class="errorTxt1"></div>
            </div>
            <div class="input-field col s12 m2">
                <label id="lnombre" for="nombre">Altura</label>
                <input id="nombre" name="nombre" type="text" data-error=".errorTxt1">
                <div class="errorTxt1"></div>
            </div>
            <div class="input-field col s12 m2">
                <label id="lnombre" for="nombre">Peso</label>
                <input id="nombre" name="nombre" type="text" data-error=".errorTxt1">
                <div class="errorTxt1"></div>
            </div>
            <div class="input-field col s12 m3">
                <label id="lnombre" for="nombre">Grupo Sanguineo</label>
                <input id="nombre" name="nombre" type="text" data-error=".errorTxt1">
                <div class="errorTxt1"></div>
            </div>
            <div class="input-field col s12 m5">
                <label id="lnombre" for="nombre">Médico de Cabecera</label>
                <input id="nombre" name="nombre" type="text" data-error=".errorTxt1">
                <div class="errorTxt1"></div>
            </div>
            <div class="input-field col s12 m4" style="margin-left: -10px; padding-top:10px">
                <input type="checkbox" id="ckColumna" />
                <label for="ckColumna">Tiene problemas de columna?</label>
            </div>
        </div>

    </form>
</div>
