<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>Page Blank | Materialize - Material Design Admin Template</title>

    <!-- Favicons-->
    <link rel="icon" href="~/Content/images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->

    <link href="~/Content/css/materialize.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="~/Content/css/custom/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">


    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="~/Content/js/plugins/prism/prism.css" type="text/css" rel="stylesheet">
    <link href="~/Content/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="~/Content/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link href="~/Content/js/plugins/data-tables/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Content/js/plugins/animate-css/animate.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />

    <style type="text/css">
        .input-field div.error {
            position: relative;
            top: -1rem;
            left: 0rem;
            font-size: 0.8rem;
            color: #FF4081;
            -webkit-transform: translateY(0%);
            -ms-transform: translateY(0%);
            -o-transform: translateY(0%);
            transform: translateY(0%);
        }

        .input-field label.active {
            width: 100%;
        }

        .left-alert input[type=text] + label:after,
        .left-alert input[type=password] + label:after,
        .left-alert input[type=email] + label:after,
        .left-alert input[type=url] + label:after,
        .left-alert input[type=time] + label:after,
        .left-alert input[type=date] + label:after,
        .left-alert input[type=datetime-local] + label:after,
        .left-alert input[type=tel] + label:after,
        .left-alert input[type=number] + label:after,
        .left-alert input[type=search] + label:after,
        .left-alert textarea.materialize-textarea + label:after {
            left: 0px;
        }

        .right-alert input[type=text] + label:after,
        .right-alert input[type=password] + label:after,
        .right-alert input[type=email] + label:after,
        .right-alert input[type=url] + label:after,
        .right-alert input[type=time] + label:after,
        .right-alert input[type=date] + label:after,
        .right-alert input[type=datetime-local] + label:after,
        .right-alert input[type=tel] + label:after,
        .right-alert input[type=number] + label:after,
        .right-alert input[type=search] + label:after,
        .right-alert textarea.materialize-textarea + label:after {
            right: 70px;
        }
    </style>


</head>
<body>

    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color deep-purple lighten-1">
                <div class="nav-wrapper">
                    <div class="left">
                        <a href="index.html" style="padding: 0px 20px !important" class="brand-logo darken-1">O A S I S </a>
                    </div>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a onclick="NuevoCliente()" class="waves-effect waves-block waves-light"><i class="mdi-social-person-add"></i></a>
                        </li>
                        <li>
                            <a href="/account/login" class="waves-effect waves-block waves-light"><i class="mdi-action-exit-to-app"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                        </li>


                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="~/Content/js/plugins/jquery-1.11.2.min.js"></script>
    <!--angularjs-->
    <script type="text/javascript" src="~/Content/js/plugins/angular.min.js"></script>

    <!--materialize js-->
    <script type="text/javascript" src="~/Content/js/materialize.js"></script>
    <!--prism-->
    <script type="text/javascript" src="~/Content/js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="~/Content/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
    <script type="text/javascript" src="~/Content/js/plugins/chartist-js/chartist.min.js"></script>

    <script type="text/javascript" src="~/Content/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/jquery-validation/additional-methods.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="~/Content/js/plugins.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="~/Content/js/custom-script.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/formatter/jquery.formatter.min.js"></script>
    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/data-tables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/data-tables/data-tables-script.js"></script>

    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="bold">
                        <a href="/home/index" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Panel</a>
                    </li>
                    <li class="bold">
                        <a href="/cliente/list" class="waves-effect waves-cyan"><i class="mdi-action-account-circle"></i> Clientes</a>
                    </li>
                    <li class="bold">
                        <a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-accessibility"></i> Actividades</a>
                    </li>
                    <li class="bold">
                        <a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-assignment"></i> Fichas</a>
                    </li>
                    <li class="bold">
                        <a href="index.html" class="waves-effect waves-cyan"><i class="mdi-content-archive"></i> Abonos</a>
                    </li>


                </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only deep-purple darken-1"><i class="mdi-navigation-menu"></i></a>
            </aside>
            <section id="content">
                <div class="container">
                    <div class="section">
                        @RenderBody()
                    </div>
                </div>
            </section>

        </div>
    </div>

    <-->Modal</-->
    <div id="modalID" class="modal">
        <div class="modal-content" style="padding:0px!important">
        </div>
    </div>

    <script>
        $('#data-table-simple').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ Registros",
                "zeroRecords": "Sin resultados encontrados",
                "info": "Mostrando _PAGE_ of _PAGES_ Entradas",
                "infoEmpty": "Mostrando _PAGE_ de _PAGES_",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }
        });
    </script>
</body>
</html>
