@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model nXs.Web.Models.Usuarios.UsuarioModel

<div class="col s12 z-depth-4 card-panel" style="padding: 10px">

    <form class="login-form" id="forgotPassword">
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <p class="margin center-align medium-small">
                    <a href="javascript:void(0)">Ingrese su email de usuario, le enviaremos un link para restablecer la contraseña</a>
                </p>
            </div>
        </div>
        <div class="row margin">
            <div class="input-field col s12">
                <i class="mdi-social-person-outline prefix"></i>
                @Html.TextBoxFor(x => x.User, new {type = "text", id = "username1", required = "required"})
                <label for="username" class="center-align">Email *</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button type="submit" class="btn waves-effect waves-light col s12">Enviar</button>
            </div>
        </div>

    </form>


</div>


<script>

        function Login() {
            $("#forgotPassword").show();
        }

    $( document ).ready(function() {
        $("#forgotPassword").validate({
            submitHandler: function (form) {
                $.ajax({
                    url: '@Url.Action("ForgotPassword")',
                    type: "POST",
                    data: $("#forgotPassword").serialize(),
                    success: function (data) {
                        if (data.Success) {
                            toastr["success"](data.Message, "Notificación:");

                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": false,
                                "progressBar": false,
                                "positionClass": "toast-top-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            setTimeout(function () {
                                window.location.href = data.Url;
                                },3000);


                            } else {
                            toastr["error"](data.Message, "Notificación:");

                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": false,
                                "progressBar": false,
                                "positionClass": "toast-top-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }

                            }
                        },
                        error: function (result) {
                            alert("Error inesperado");
                        }
                    });
                }
            });
        });

</script>