<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="auth0:ClientId" value="59pt1CsFLbHatoH1EeVS5XBBsKrPPoml" />
    <add key="auth0:ClientSecret" value="6v9GXbCqlI-Qa1S6Dz71DXEAwySc_jnLodlys-X4pYaXTrvoZcg3PtN2TECaCeCm" />
    <add key="auth0:Domain" value="" />
    <add key="auth0:DbConnection" value=""/>
    <add key="auth0:RedirectUrl" value="http://savant.krakensoft.tech/LoginCallback.ashx" />
    <add key="auth0:Audience" value="" />
    <add key="auth0:GrantType" value="client_credentials" />
    <add key="auth0:DbConnection" value="" />
    <add key="auth0:Permission" value="" />
  </appSettings>

  <connectionStrings>
    <add name="neXus" connectionString="Data Source=SQL5004.site4now.net;Initial Catalog=DB_A25294_Gym;User Id=DB_A25294_Gym_admin;Password=gimnasio2018" providerName="System.Data.SqlClient" />

  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>
